@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
.wrapper {
  max-width: 95%;
  margin: 0 auto;
  width: 95%;
  height: 300px;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.w-100 {
  width: 100%;
}

.px-5 {
  padding-left: 5rem;
  padding-right: 5rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

@media screen and (max-width: 768px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav .navbar-nav {
    margin-top: 1rem;
    width: 60%;
    border: 1px solid red;
  }
}

@media screen and (max-width: 1024px) {
  .display-none {
    display: none;
  }
}

body {
  font-family: 'Roboto', sans-serif;
}

nav {
  background-color: #d35749;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

nav ul {
  width: 35%;
}

nav .nav-link {
  color: #fff;
}

nav .navbar-brand {
  color: #fff;
}

nav .navbar-brand span {
  display: block;
  padding-left: 0.5rem;
}
