@media screen and (max-width: 1024px) {
  .display-none {
    display: none;
  }

  main {
    .content {
      grid-template-columns: 1fr;
      padding-top: 4rem;
      grid-gap: 2rem;
    }

    .bottom {
      .bottom-content {
        grid-gap: 1.5rem;

        .subscribe {
          .subscribe-form {
            .email-bar {
              padding: 0.4rem 0 0.4rem 0.3rem;
            }

            .send-btn {
              padding: 0.4rem 0.5rem 0.4rem 0.5rem;
            }
          }
        }
      }
    }

    .search-results-section {
      grid-template-columns: 1fr;
    }
  }
}
