@import "global";
@import "config";

body {
  font-family: "Roboto", sans-serif;
}

.top-nav {
  position: fixed;
  background-color: $bg-color-1;
  height: 60px;
  width: 100%;
  z-index: 99;

  .navbar-nav {
    width: 350px;
  }

  .nav-link {
    color: #fff;

    &:hover {
      color: #333;
    }
  }

  .navbar-brand {
    color: $text-color-1;

    span {
      display: block;
      padding-left: 0.5rem;
      font-weight: 500;
      font-size: 1.6em;
    }
  }
}

main {
  .showcase {
    position: relative;
    top: 10%;
    height: 85vh;
    width: 100%;
    background-image: url("../img/conference.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 12rem;
    text-align: center;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      content: "";
      background-color: #000;
      opacity: 0.7;
    }

    h1 {
      color: #fff;
      font-size: 1.5rem;
    }

    .search-area {
      padding: 2rem 2rem 2rem 0.6rem;
      margin-top: 1rem;
      background: rgba(255, 255, 255, 0.6);
      border-radius: 5px;
      align-items: flex-start;

      .search-form {
        margin-top: 0.2rem;

        .search-bar {
          padding: 0.5rem 7.5rem;
          border-bottom-left-radius: 4px;
          border-top-left-radius: 4px;
          background-color: $bg-color-3;
          border: 0;
        }

        .search-btn {
          background-color: $bg-color-1;
          padding: 0.5rem 1rem;
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
          color: $text-color-1;
          border: 0;

          &:hover {
            background-color: $bg-color-2;
          }
        }
      }
    }

    .call-to-action-btn {
      margin: 1rem 0 0 0;
      padding: 0.5rem 1rem;
      border: 0;
      border-radius: 3px;

      &:hover {
        background-color: #666;
        color: $text-color-1;
      }
    }
  }

  .content {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 4rem;
    grid-column-gap: 10%;
    text-align: center;

    h2 {
      grid-column: 1 / -1;
      text-align: center;
      color: $text-color-3;
      padding-bottom: 2rem;
    }

    i,
    h5 {
      margin: 0.8rem 0;
    }
  }

  .detailed-content {
    color: $text-color-1;

    div * {
      margin-bottom: 1rem;
    }

    button {
      padding: 0.3rem 0.6rem;
      margin-top: 1rem;
      background-color: $bg-color-3;
      border: 0;
      outline: none;
      border-radius: 3px;
    }

    .detail-image {
      width: 200px;
      height: 200px;
      border-radius: 50%;
    }

    &.detailed-a {
      background-color: $bg-color-1;

      .detailed-btn-a {
        color: $text-color-3;

        &:hover {
          background-color: rgba(255, 255, 255, 0.7);
        }
      }
    }

    &.detailed-b {
      background-color: #99a5a6;

      .detailed-btn-b {
        color: #99a5a6;

        &:hover {
          background-color: rgba(255, 255, 255, 0.7);
        }
      }
    }

    &.detailed-c {
      background-color: $bg-color-2;

      .detailed-btn-c {
        color: $text-color-4;

        &:hover {
          background-color: rgba(255, 255, 255, 0.7);
        }
      }
    }
  }

  .bottom {
    background-color: $bg-color-4;
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 100%;
    color: $text-color-1;

    .bottom-nav {
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      position: relative;
      margin-bottom: 3rem;
      padding: 0.6rem;

      img {
        position: absolute;
        top: -10%;
        left: 46.8%;
        border: 1px solid #ccc;
        padding: 0.3rem;
        border-radius: 50%;
        background-color: #000;
      }

      .bottom-link {
        color: $text-color-1;

        &:hover {
          color: $text-color-3;
        }
      }
    }

    .bottom-content {
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 4rem;

      .subscribe {
        .subscribe-form {
          .email-bar {
            background-color: #000;
            border: 1px solid #ccc;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            padding: 0.4rem 3rem 0.4rem 0.5rem;
            color: $text-color-1;

            &:focus {
              outline: none;
            }
          }

          .send-btn {
            background-color: #666;
            border: 1px solid #ccc;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            padding: 0.4rem 1.5rem 0.4rem 1.5rem;
            color: $text-color-1;

            &:hover {
              background-color: #999;
            }

            &:focus {
              outline: none;
            }
          }
        }
      }
    }

    a {
      color: $text-color-3;
    }
  }
}

footer {
  padding: 1rem 1rem;
  background-color: #333;
  color: #aaa;

  .social-links {
    width: 12%;

    .social-link {
      color: #aaa;

      &:hover {
        color: $text-color-3;
      }
    }
  }

  p {
    font-size: 0.7rem;
  }
}

@import "mobile";
@import "tablet";
